### Python基础作业¶
在自己的电脑上安装Anaconda，用conda create创建一个python 3.6版本的environment。今后我们的程序都在这个环境下执行
上网查询，并且自己在jupyter notebook上实验，看看python 3.6当中有哪些常用的数据类型。

用range创建一个list，命名为variable numbers，这个list从100到0，间隔为8。结果应该长下面这样: ([100, 92, 84, 76, 68, 60, 52, 44, 36, 28, 20, 12, 4])

In [19]:
numbers = range(100, 0, -8)
numbers

[100, 92, 84, 76, 68, 60, 52, 44, 36, 28, 20, 12, 4]

### 用if-elif-else语句判断某个年龄是未成年(<18)，成年(18-60)，还是老年(>=60)。

In [18]:
a = 60
if a < 18:
    print "not adult"
elif a < 60:
    print "adult"
else :
    print "old man"

old man

### 用list comprehension把我们前面的numbers每个数字都变成它的平方

In [22]:
for i in range(len(numbers)):
    numbers[i] = numbers[i]*numbers[i]
numbers

[10000, 8464, 7056, 5776, 4624, 3600, 2704, 1936, 1296, 784, 400, 144, 16]

### 用for语句构建一个fibonacci数列，只需要前十个数字即可

In [32]:
# 0, 1, 1, 2, 3, 5, 8...
nfib = 10
a, b = 0, 1
for i in range(nfib):
    c = a + b
    print(c)
    a, b = b, a+b

1
2
3
5
8
13
21
34
55
89

### 随机写下六个人的名字，构成一个list。
把这个list变成一个dict，按照顺序给这些名字编号，号码从1开始。key是名字，value是编号。

In [50]:
names = ["Harry", "Hermine", "Ron", "Bill", "Gnini", "Snape"]
names.sort()
names

['Bill', 'Gnini', 'Harry', 'Hermine', 'Ron', 'Snape']

In [35]:
enumerate(names)

In [51]:
dict(enumerate(names))

{0: 'Bill', 1: 'Gnini', 2: 'Harry', 3: 'Hermine', 4: 'Ron', 5: 'Snape'}

In [52]:
for n,v in (enumerate(names)):
    print(n+1,v)

(1, 'Bill')
(2, 'Gnini')
(3, 'Harry')
(4, 'Hermine')
(5, 'Ron')
(6, 'Snape')

In [53]:
{k+1:v for k, v in enumerate(names)}

{1: 'Bill', 2: 'Gnini', 3: 'Harry', 4: 'Hermine', 5: 'Ron', 6: 'Snape'}

In [54]:
{v:k for k,v in enumerate(names)}

{'Bill': 0, 'Gnini': 1, 'Harry': 2, 'Hermine': 3, 'Ron': 4, 'Snape': 5}