# Python基础

### 目录
- python简介
- 安装和运行
- 基本数据类型
- 变量和表达式
- 字符串
- list
- 判断语句
- 循环语句
- set, tuple, dictionary

# Python简介
- 官网: https://www.python.org/
- 版本: **3.6**/2.7
- 脚本语言，语法、调试都很方便，非常适合编程菜鸟入门

## Python安装

### Anaconda安装
- Anaconda是一个常用的用于数据分析的Python版本管理系统
- 从[官网](https://www.continuum.io/downloads)下载相应版本
- 按照提示安装

### Anaconda environment安装
- 安装一个新的environment: conda create -n [your_environment_name] python=[your_python_version]
- 进入已经安装的environment: source activate [your_environment_name]
- 在windows下使用: activate [your_environment_name]
- 退出当前environment: source deactivate
- 查看environment: conda info --envs
- 更多的conda命令请查询官网文档: https://conda.io/docs/index.html

### 在environment下安装libraries
- pip install [package_name]

## 运行Python
1. 在命令行上输入python
2. 用文本编辑器写完一段程序然后运行

## 如何寻找帮助
- 官方文档
- debug: 学会读报错信息
- Goole和Stackoverflow

In [2]:
print("hello july")

hello july

In [3]:
1 + 3

4

In [4]:
5 / 2

2.5

## python程序基础
### 用python做计算器
- +, -, *
- /, //
- \*\*

In [5]:
5 - 2.7

2.3

In [6]:
5.4 * 2.5

13.5

In [7]:
3 / 4

0.75

In [8]:
3 // 4

0

In [9]:
4 // 3

1

In [10]:
4 % 3

1

In [11]:
5 % 3

2

In [12]:
5 ** 2

25

In [13]:
5 ** 2.5

55.90169943749474

In [14]:
5 ** 0.5

2.23606797749979

- =, ==

In [15]:
5 == 5

True

In [16]:
2.5 == 2.50

True

# Python基本数据类型、变量、运算和表达式

## 变量
- 变量赋值(assignment)

## 基本数据类型
- 整型int
- 浮点float
- 数据类型强制转换
- 四则运算
- 字符串str
- bool

## 动态类型
- python是一种动态类型的语言
- type(来查看变量类型)

In [17]:
x = 2

In [18]:
x == 2

True

In [19]:
y = 2.0

In [20]:
y

2.0

In [21]:
x == y

True

In [22]:
name = "Julyedu"
name

'Julyedu'

In [23]:
name == "Julyedu"

True

## 表达式(expression)
- 引用变量

- python会用表达式计算（返回）出一个结果

## 指令(statement)
- python会执行一条指令，未必会返回一个结果
- expression可以被当做一个statement，但是statement一般不是一个expression
- 赋值statement
- x += x, x *= y, x /= y

In [24]:
x

2

In [25]:
x + 4

6

In [26]:
x + x

4

In [27]:
x

2

In [28]:
x = 5
x

5

In [29]:
x = x + 2

In [30]:
x

7

In [31]:
x += 2
x

9

In [32]:
x *= 2
x

18

In [36]:
x /= 2
id(x)

140557234792488

## 字符串(string)

quote ' 和double quote " 都可以用作字符串

In [49]:
"Julyedu"

'Julyedu'

In [50]:
'Julyedu'

'Julyedu'

In [51]:
"July'

SyntaxError: EOL while scanning string literal (<ipython-input-51-017c4a252e3a>, line 1)

两者之间在表示一个字符串上没有区别，但是一个字符串的开头和结尾必须使用同一种引号。
backslash \ 可以用来escape引号。

当然也可以使用两种不同的引号来区分究竟是字符串结尾还是字符串中出现了引号。

In [52]:
"I'm gonna get up at 4am tomorrow"

"I'm gonna get up at 4am tomorrow"

In [53]:
'I"m gonna get up at 4am tomorrow'

'I"m gonna get up at 4am tomorrow'

In [43]:
'I\'m gonna get up at 4'

"I'm gonna get up at 4"

如果一个string有好多行

In [58]:
print("""first line
second line
third line""")

first line
second line
third line

\n 是换行符，可以用在strign中换行

In [59]:
print("first line\nsecond line\nthird line")

first line
second line
third line

\t是tab键

In [60]:
print("first line\tsecond line\tthird line")

first line	second line	third line

+可以把两个string连到一起(concatenation)

In [67]:
"Hello" + " " + "Julyedu" + str(33)

'Hello Julyedu33'

In [70]:
type(12.5)

float

In [71]:
"{}, {}, {}".format(x, y, x+y)

'23.0, 2.0, 25.0'

In [74]:
type(x+y)

float

## string indexing and slicing
- indexing

In [46]:
w = "Julyedu"

In [64]:
w

'Julyedu'

In [65]:
w[0]

'J'

In [75]:
w[1]

'u'

In [76]:
w[6]

'u'

In [77]:
w[7]

IndexError: string index out of range

In [78]:
w[-1]

'u'

In [79]:
w[-2]

'd'

In [80]:
w[-7]

'J'

In [81]:
w[-8]

IndexError: string index out of range

- slicing -> w[start:end:step]

In [47]:
w[]

'Julyedu'

In [51]:
w[4:2:-1]

'ey'

In [84]:
w[5:7]

'du'

In [85]:
w[4:-1]

'ed'

In [86]:
w[3:]

'yedu'

In [87]:
w[:5]

'Julye'

In [88]:
w[5:100]

'du'

In [89]:
w[-1:100]

'u'

## 字符串函数

- upper and lower

In [90]:
w.upper()

'JULYEDU'

- startswith and endswith

In [95]:
w.lower()

'julyedu'

In [93]:
w.lower().capitalize()

'Julyedu'

In [98]:
w.startswith("July")

True

In [100]:
w.endswith("ud")

False

- strip

In [103]:
w = "   Julyedu   "
w

'   Julyedu   '

In [102]:
w.strip()

'Julyedu'

In [104]:
w.lstrip()

'Julyedu   '

In [105]:
w.rstrip()

'   Julyedu'

- split
把一个string拆成一个list of strings

In [106]:
s = "burger ramen fries spaghetti steak dimsum"

In [107]:
s.split()

['burger', 'ramen', 'fries', 'spaghetti', 'steak', 'dimsum']

In [108]:
s = "burger,ramen,fries,spaghetti,steak,dimsum"

In [110]:
s.split(",")

['burger', 'ramen', 'fries', 'spaghetti', 'steak', 'dimsum']

- find: 找到第一个substring出现的位置

In [113]:
w = w.strip()
w

'Julyedu'

In [115]:
w.find("ly")

2

如果输入一个不存在的substring那就会返回-1了

In [116]:
w.find("a")

-1

In [118]:
"ly" in w

True

- replace

In [123]:
s.replace(",", "\n")

'burger\nramen\nfries\nspaghetti\nsteak\ndimsum'

# List

list 是一种python的数据类型，表示一连串的数据的集合。

- 如何创建一个list

In [124]:
names = ["Tensorflow", "Keras", "Torch", "Caffe", "Julyedu"]
names

['Tensorflow', 'Keras', 'Torch', 'Caffe', 'Julyedu']

In [125]:
type(names)

list

- list indexing

In [126]:
names[0]

'Tensorflow'

In [127]:
names[1]

'Keras'

In [128]:
names[-1]

'Julyedu'

In [130]:
names[-10]

IndexError: list index out of range

- list slicing

In [132]:
names

['Tensorflow', 'Keras', 'Torch', 'Caffe', 'Julyedu']

In [137]:
names[:-1]

['Tensorflow', 'Keras', 'Torch', 'Caffe']

- 我们可以直接把string变成一个list

In [138]:
list("Julyedu")

['J', 'u', 'l', 'y', 'e', 'd', 'u']

- 求list的长度

In [140]:
len(names)

5

- append方法可以在list的末尾添加element

In [141]:
names.append("PyTorch")
names

['Tensorflow', 'Keras', 'Torch', 'Caffe', 'Julyedu', 'PyTorch']

In [142]:
names.append(12)
names.append(-5.4)
names.append([2,4,"Title"])
names

['Tensorflow',
 'Keras',
 'Torch',
 'Caffe',
 'Julyedu',
 'PyTorch',
 12,
 -5.4,
 [2, 4, 'Title']]

In [143]:
names[-1]

[2, 4, 'Title']

- 两个list相加合并成新的list

In [145]:
"aaaaaa" in names

False

- 判断一个element是否在一个list里面

- insert

In [150]:
names.insert(-100, "Bazinga")

In [151]:
names

['Bazinga',
 'Tensorflow',
 'Keras',
 'Happy',
 'Torch',
 'Caffe',
 'Julyedu',
 'PyTorch',
 12,
 -5.4,
 'Sad',
 [2, 4, 'Title']]

- pop

In [155]:
last_element = names.pop()
print(last_element)
print(names)

-5.4
['Bazinga', 'Tensorflow', 'Keras', 'Happy', 'Torch', 'Caffe', 'Julyedu', 'PyTorch', 12]

In [153]:
names

['Bazinga',
 'Tensorflow',
 'Keras',
 'Happy',
 'Torch',
 'Caffe',
 'Julyedu',
 'PyTorch',
 12,
 -5.4,
 'Sad']

- count

In [156]:
names

['Bazinga',
 'Tensorflow',
 'Keras',
 'Happy',
 'Torch',
 'Caffe',
 'Julyedu',
 'PyTorch',
 12]

In [158]:
names.count(12)
names.append(12)
names.count(12)

2

In [159]:
names

['Bazinga',
 'Tensorflow',
 'Keras',
 'Happy',
 'Torch',
 'Caffe',
 'Julyedu',
 'PyTorch',
 12,
 12]

- reverse

In [167]:
names.reverse()

In [175]:
names

['Bazinga', 'Tensorflow', 'Keras', 'Happy', 'Caffe', 'Julyedu', 'PyTorch']

- del删除element

In [174]:
del names[4]

## control statement

In [190]:
if False:
    print("less than 10")
elif x < 20:
    print("between 10 and 20")
else:    
    print("equal to or larger than 20")

equal to or larger than 20

### 关于Boolean

In [181]:
print(x)
x > 1

23.0

True

## loops
### for loop

range function

In [191]:
names

['Bazinga', 'Tensorflow', 'Keras', 'Happy', 'Caffe', 'Julyedu', 'PyTorch']

In [206]:
for name in names:
    print(name)

Bazinga
Tensorflow
Keras
Happy
Caffe
Julyedu
PyTorch

关于range的用法

In [197]:
for i in range(5):
    print(i)

0
1
2
3
4

In [199]:
list(range(5))

[0, 1, 2, 3, 4]

In [200]:
list(range(1,8))

[1, 2, 3, 4, 5, 6, 7]

In [203]:
list(range(5, 20, -2))

[]

In [205]:
list(range(20, 5, -7))

[20, 13, 6]

如果我们想在每个element前面加个数字编号呢？

In [211]:
for i in range(len(names)):
    print(i+1, names[i])

1 Bazinga
2 Tensorflow
3 Keras
4 Happy
5 Caffe
6 Julyedu
7 PyTorch

其实用enumerate更简单，直接帮你带上数字

In [216]:
for i, name in enumerate(names):
    print(i, name)

0 Bazinga
1 Tensorflow
2 Keras
3 Happy
4 Caffe
5 Julyedu
6 PyTorch

for与list在一起使用可以写很多简洁的语句, list comprehension

In [217]:
names

['Bazinga', 'Tensorflow', 'Keras', 'Happy', 'Caffe', 'Julyedu', 'PyTorch']

In [224]:
["stupid " + aaaa12 for aaaa12 in names]

['stupid Bazinga',
 'stupid Tensorflow',
 'stupid Keras',
 'stupid Happy',
 'stupid Caffe',
 'stupid Julyedu',
 'stupid PyTorch']

## while loop

下面的这个小程序可以输出0-9

In [225]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

注意千万别忘了最后这一句```i += 1```否则就陷入死循环了。

### break和continue的用法
- break会直接让你跳出当前的循环

In [226]:
i = 0
while True:
    print(i)
    i += 1
    if i >= 5:
        break

0
1
2
3
4

In [228]:
i = 0
while True:
    if i % 3 == 0:
        i += 1
        continue
        
    print(i)
    i += 1
    if i >= 20:
        break

1
2
4
5
7
8
10
11
13
14
16
17
19

## 小练习：输出一个fibonacci数列¶

In [230]:
# 0, 1, 1, 2, 3, 5, 8, 13

fibs = []
a = 0
b = 1
while a < 500:
    fibs.append(a)
    # a = 2, b = 3
    tmp = b
    # tmp = 3, b = 3, a = 2
    b = a + b
    # tmp = 3, a = 2, b = 5
    a = tmp
    # tmp = 3, a = 3, b = 5
print(fibs)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [251]:
# 0, 1, 1, 2, 3, 5, 8, 13

fibs = []
a = 0
b = 1
while a < 500:
    fibs.append(a)
    a, b = (b, a+b)
print(fibs)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

## set

- list可以被转换成set，可以用于去重

In [257]:
names.append("Tensorflow")

In [258]:
names

['Bazinga',
 'Tensorflow',
 'Keras',
 'Happy',
 'Caffe',
 'Julyedu',
 'PyTorch',
 'Tensorflow',
 'Tensorflow',
 'Tensorflow',
 'Tensorflow',
 'Tensorflow']

In [278]:
list(set(names))

['PyTorch', 'Keras', 'Julyedu', 'Happy', 'Caffe', 'Bazinga', 'Tensorflow']

In [262]:
empty_set = set()

In [275]:
empty_set.add("aaaaa")

In [276]:
empty_set

{'aaaaa'}

In [282]:
numbers = {1,2,2,2,2,2,3,3,2,2,3,3,3,4,5}
numbers
#type(numbers)

{1, 2, 3, 4, 5}

- string也可以被转换成set

In [283]:
set("banana")

{'a', 'b', 'n'}

- 比较fancy的一个例子, set comprehension

In [286]:
[x for x in "banana" if x not in "an"]

['b']

## tuple
tuples有点像list，不过一个很大的区别是tuples是immutable的，也就是说它的element一旦创建之后就无法更改了。

In [237]:
t = 1, 2,3, "Facebook", "Google"
t

(1, 2, 3, 'Facebook', 'Google')

In [238]:
type(t)

tuple

In [240]:
t[3]

'Facebook'

In [241]:
t[2] = "333333"

TypeError: 'tuple' object does not support item assignment

In [249]:
a, b, c, d, e = t

In [250]:
e

'Google'

## dictionary

dictionary就是字典，也就是把一个元素map到另一个元素上

In [292]:
fruit = {"apple": 0, "orange":22, "pineapple": 5, "banana": 12}
fruit
# key value pairs

{'apple': 0, 'banana': 12, 'orange': 22, 'pineapple': 5}

In [293]:
fruit["banana"]

12

In [294]:
type(fruit)

dict

下面的方法可以帮助我们查看一个dictionary的keys和values

In [298]:
for i in fruit.keys():
    print(i)

apple
orange
pineapple
banana

- 一个list of tuples也可以转换成dict。

In [299]:
schools = [("Harvard", 1), ("Princeton", 2), ("Yale",3), ("Stanford",4), ("MIT",5), ("Chicago",6)]

In [300]:
dict(schools)

{'Chicago': 6,
 'Harvard': 1,
 'MIT': 5,
 'Princeton': 2,
 'Stanford': 4,
 'Yale': 3}

有时候我们想把一个list编号做成一个dictionary，比如下面这种情况:

In [303]:
vocab = ["apple", "bit", "chrome", "facebook", "google", "hack", "iteration", "jupyter", "kaggle"]

In [304]:
vocab

['apple',
 'bit',
 'chrome',
 'facebook',
 'google',
 'hack',
 'iteration',
 'jupyter',
 'kaggle']

In [311]:
{k:v+1 for v, k in enumerate(vocab)}

{'apple': 1,
 'bit': 2,
 'chrome': 3,
 'facebook': 4,
 'google': 5,
 'hack': 6,
 'iteration': 7,
 'jupyter': 8,
 'kaggle': 9}

In [ ]:
JSON
javascript object notation
import json

## function

- def关键词
- 用括号包含list of parameters
- statements都要indent


### 不定长度的arguments

### default argument
concat例子



### 把一个tuple/list当做arguments